name: Build Scan Push Images

on:
  push:
    branches: ["main"]

permissions:
  contents: read
  packages: write
  security-events: write

jobs:
  build_scan_push:
    runs-on: ubuntu-latest

    env:
      REGISTRY: ghcr.io
      IMAGE_BACKEND: ghcr.io/${{ github.repository }}/backend
      IMAGE_FRONTEND: ghcr.io/${{ github.repository }}/frontend

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      # BACKEND build + push
      - name: Build & push backend
        uses: docker/build-push-action@v6
        with:
          context: ./backend
          file: ./backend/Dockerfile
          push: true
          tags: |
            ${{ env.IMAGE_BACKEND }}:latest
            ${{ env.IMAGE_BACKEND }}:${{ github.sha }}

      # FRONTEND build + push
      - name: Build & push frontend
        uses: docker/build-push-action@v6
        with:
          context: ./frontend
          file: ./frontend/Dockerfile
          push: true
          tags: |
            ${{ env.IMAGE_FRONTEND }}:latest
            ${{ env.IMAGE_FRONTEND }}:${{ github.sha }}

      # Scan image backend
      - name: Trivy image scan - backend
        uses: aquasecurity/trivy-action@0.24.0
        with:
          image-ref: ${{ env.IMAGE_BACKEND }}:${{ github.sha }}
          format: sarif
          output: trivy-backend.sarif
          severity: HIGH,CRITICAL
          ignore-unfixed: true
          github-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Upload SARIF - backend
        uses: github/codeql-action/upload-sarif@v3
        with:
          sarif_file: trivy-backend.sarif

      # Scan image frontend
      - name: Trivy image scan - frontend
        uses: aquasecurity/trivy-action@0.24.0
        with:
          image-ref: ${{ env.IMAGE_FRONTEND }}:${{ github.sha }}
          format: sarif
          output: trivy-frontend.sarif
          severity: HIGH,CRITICAL
          ignore-unfixed: true
          github-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Upload SARIF - frontend
        uses: github/codeql-action/upload-sarif@v3
        with:
          sarif_file: trivy-frontend.sarif
